.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .disabled:hover {
    transform: none !important;
  }